@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
/* font-family: 'Forum', serif; */

footer{
    width: 50%;
    margin: auto;
    /* padding-bottom: 2em; */
    padding: 0 10em 1em 10em;
    background-image: url(/img/fuego-footer-recordado.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
}

#comunidad{
    display: grid;
    grid-template-areas: "titulo form" "texto texto";
    grid-template-columns: 1fr 1fr;
    grid-row-gap:1rem;
    /* align-content: center;
    justify-content: center; */
}

/* Titulo */

#titulo-comunidad{
    grid-area: titulo;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-family: "Livia";
    letter-spacing: 3px;
    /* width: 100%; */
}

/* Formulario */

#form-comunidad{
    grid-area: form;
    text-align: center;
    margin: auto;
    width: 80%;
    /* height: 100%; */
    display: flex;
    box-sizing: border-box;
    /* margin-block-end: 0; */
}

#texto-form-comunidad{
    /* margin: 0; */
    width: 70%;
    height: 2rem;
    font-family: 'Forum', serif;
    text-align: center;
    border: none;
    background-color:rgba(226, 226, 226, 0.966);
    font-size: 1.1rem;
    box-sizing: border-box;
}

#enviar-form-comunidad{
    /* margin: 0; */
    height: 2rem;
    width: 30%;
    border: none;
    font-size: 1em;
    border: 1px solid #920722;
    font-family: 'Forum', serif;
    background-color: #920722;
    color: white;
    transition: border .5s ease;
    box-sizing: border-box;
    letter-spacing: 1px;
}

#enviar-form-comunidad:hover{
    border: 1px solid white;
    cursor: pointer;
}

/* Texto */

#texto-comunidad{
    grid-area: texto;
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-weight:lighter;
    font-family: 'Forum', serif;
}


/* Redes footer */
#footer-redes{
    margin-top: 2rem;
    /* margin-bottom: 2em; */
}

/* Img */

#footer-img-redes{
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 1em;
}

#footer-img-redes img {
    width: 30px;
    height: auto;
}

/* Texto footer redes*/
#footer-redes p{
    color: rgb(177, 175, 175);
    text-align: center;
    font-size: 1rem;
    display: none;
}

/* *-------------------RESPONSIVE CELULAR ---------------------*/
@media screen and (max-width: 767px) {
    footer{
        display: none;
    }
}

/* *--------------------RESPONSIVE TABLET ---------------------*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    footer{
        width: 80%;

        /* padding-bottom: 2em; */
        padding: 0 0em 1em 0em;
    }
    


    /* Img */

    #footer-img-redes{
        display: flex;
        width: 80%;
        justify-content: space-around;
        margin: auto;
        margin-bottom: 1em;
    }

    #footer-img-redes img {
        width: 30px;
        height: auto;
    }

    /* Texto footer redes*/
    #footer-redes p{
        color: rgb(177, 175, 175);
        text-align: center;
        font-size: 1rem;
        display: none;
        font-weight: lighter;
    }


}