@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
/* font-family: 'Forum', serif; */
@font-face {
    font-family: "Livia";
    src: url(/fuentes/livia_medium/Livia\ Medium.ttf);
  }

#equipo{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    /* background-image: url(/img/fuego\ equipo.png); */
    /* background-repeat:no-repeat; */
    /* background-color: #fff; */
    /* background-position: center; */
    /* background-size: contain; */
    margin-top: 8rem;
    margin-bottom: 15rem;
    /* border: 1px solid white; */
    position: relative;
}

/* Fondo */

#fuego-equipo{
    position:absolute;
    width: 70%;
    left: 15%;
    top: -5%;
    /* border: 1px solid wheat; */
    z-index: -5;
    opacity: 0.7;
}

/* Titulo */

#equipo .sub-title{
    margin-top: 0;
    z-index: 2;
    margin-bottom: 2rem;
}

/* Contenido */

#equipo-contenido{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 2;
}

/* Fotos */

#equipo-fotos{
    position: relative;
    width: 40%;
    /* border: 1px solid wheat; */
}

#equipo-fotos img{
    width: 12rem;
    height: auto;
}

#foto-1{
    position: absolute;
    left: 12%;
    z-index: 4;
    scale: 0.9;
    transition: 1s;
    top:-1%;
}
#foto-2{
    position: absolute;
    /* left: 10; */
    top: 35%;
    z-index: 6;
    scale: 0.85;
}
#foto-3{
    position: absolute;
    left: 28%;
    top: 46%;
    scale: 1.1;
    z-index: 8;
}
#foto-4{
    position: absolute;
    left: 60%;
    top: 36%;
    scale: 1;
    z-index: 7;
}
#foto-5{
    position: relative;
    width: 100%;
    left: 45%;
    scale: 1;
    z-index: 5;
}

#foto-1:hover{
    /* background: linear-gradient(rgba(236, 74, 74, 0.945),20%,black,black); */
    background-color: rgba(0, 0, 0, 0.212);
    cursor: pointer;
    transition: .5s;
    border-radius: 90px;
    border: 3px solid rgba(230, 54, 54, 0.938);
    scale: 1;
}
#foto-2:hover{
    background-color: rgba(0, 0, 0, 0.212);
    cursor: pointer;
    transition: .5s;
    border-radius: 90px;
    scale: .95;
    border: 3px solid rgba(230, 54, 54, 0.938);
}

#foto-3:hover{
    background-color: rgba(0, 0, 0, 0.212);
    cursor: pointer;
    transition: .5s;
    border-radius: 90px;
    scale: 1.2;
    border: 3px solid rgba(230, 54, 54, 0.938);
}

#foto-4:hover{
    background-color: rgba(0, 0, 0, 0.212);
    cursor: pointer;
    transition: .5s;
    border-radius: 90px;
    scale: 1.1;
    border: 3px solid rgba(230, 54, 54, 0.938);
}

#foto-5:hover{
    background-color: rgba(0, 0, 0, 0.212);
    cursor: pointer;
    transition: .5s;
    border-radius: 90px;
    scale: 1.1;
    border: 3px solid rgba(230, 54, 54, 0.938);
}
/* Descripcion */

.equipo-descripcion{
    width: 32%;
    height: 100%;
    /* margin: auto; */
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem 0 auto;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.541);
}

.equipo-descripcion h3{
    font-size: 2rem;
    color: #fff;
    font-family: 'Forum', serif;
    font-weight: lighter;
    width: 100%;
    text-transform: uppercase;
}

.equipo-descripcion p{
    font-family: 'Forum', serif;
    color: #fff;
    margin: .8rem 0;
    line-height: 1.4rem;
    margin: 1.5rem 0;
    box-sizing: border-box;
    height: 100%;
}

.equipo-redes{
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.equipo-redes img{
    width: 2rem;
    height: auto;
}

/* Display none */
.equipo-display-none{
    display: none;
}


@media screen and (max-width: 767px) {
    
  }